<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../assets/img/FondoHome-transformed.jpeg" class="d-block mx-lg-auto img-fluid" 
        alt="nostros" width="550" height="300" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h3 class="display-5 fw-bold lh-1 mb-3">¿Quienes somos?</h3>
      <p class="lead">
        oficial de estudios otorgado por la Secretaría de Educación Pública, con sus programas inscritos ante 
        la Dirección General de Profesiones SEP/DGP bajo clave 300462; con Registro Nacional de Instituciones 
        y Empresas Científicas y Tecnológicas (RENIECYT) definitiva del CONACyT N° 1700087; 
        que orienta su modelo educativo a la formación de líderes con pasión por la ciencia, 
        la generación de ideas y la búsqueda de retos intelectuales. 
      </p>
    </div>
  </div>

  <div class="container-fluid">
    <h1 class="display-5 fw-bold text-center">Nuestros valores</h1>
    <div class="col-lg-6 mx-auto">
      <ul>
        <p class="lead mt-2 mb-2"><b>Templanza</b></p>
        <li> 
            Moderación y equilibrio asegurando el dominio de la voluntad sobre los instintos manteniendo los deseos en los limites de la honestidad
        </li>
        <p class="lead mt-2 mb-2"><b>Fortaleza</b></p>
        <li> 
            Fuerza física, mental y moral que permite ser fuerte y perseverante venciendo el temor al éxito o fracaso de nuestras metas.
        </li>
        <p class="lead mt-2 mb-2"><b>Prudencia</b></p>
        <li> 
            Actuar claro, cauteloso y adecuado, respetando los sentimientos, la vida y las libertades de las demás personas.
        </li>
        <p class="lead mt-2 mb-2"><b>Justicia</b></p>
        <li> 
            Dar al prójimo lo que es debido, con equidad respecto a los individuos y al bien común.
        </li>
      </ul>

    </div>
  </div>

<div class="container px-4 py-5" id="hanging-icons">
    <!-- <h2 class="pb-2 border-bottom">trext</h2> -->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10m0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8"/>
                <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
              </svg>
        </div>
        <div>
          <h2>Misión</h2>
          <p>
            Somos una Institución de Educación Superior reconocida 
            por la formación innovadora de núcleos académicos, empresariales y tecnológicos.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="44" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
              </svg>
        </div>
        <div>
          <h2>Visión</h2>
          <p>
            Ser la mejor opción de formación en investigación y posgrado en educación superior.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
        </div>
        <div>
          <h2>Objetivo</h2>
          <p>
            Promover y divulgar la generación y aplicación del conocimiento orientado a la investigación científica, 
            la innovación tecnológica y la clidad educativa bajo un contexto de responsabilidad social universitaria 
            vinculado al sector productivo y al desarrollo social.
          </p>
        </div>
      </div>
    </div>
</div>