
<div class="p-5 text-center bg-image mt-3" style="
background-image: url('../../assets/img/congresos2.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 250px;
">
    <div style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white col-12">
                <h1 class="mb-3">Nuestros congresos</h1>
            </div>
        </div>
    </div>
</div>

<div class="row flex-lg-row-reverse align-items-center mt-4 mb-3">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../assets/img/congresos.jpg" class="d-block mx-lg-auto img-fluid" 
        alt="nostros" width="600" height="250" loading="lazy">
    </div>
    <div class="col-lg-6" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex h-100">
            
            <div class="text-white col-12">
                <div class="list-group list-group-flush background-color p-2">
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Fortalecimiento de Cuerpos Académicos y Grupos Disciplinarios. Calidad en la Educación
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Superior CIFCA-CES 2022 Xalapa Veracruz Congreso Internacional de Resultados de Investigación CIRI 2021 Úrsulo Galván, Ver.
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Fortalecimiento de Cuerpos Académicos y Grupos de Investigación CIFCA 2020 Virtual.
                    </a>
                    <a href="#" class="list-group-item list-group-item-dark list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Fortalecimiento de Cuerpos Académicos y Grupos de Investigación CIFCA 2019 Zona Centro. Boca del Río, Ver.
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Fortalecimiento de Cuerpos Académicos y Grupos de Investigación CIFCA 2019
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Fortalecimiento de Cuerpos Académicos y Grupos Disciplinarios. Zona sur CIF CA 2023 Veracruz, Veracruz
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Fortalecimiento de Cuerpos Académicos y Grupos de Investigación CIFCA 2019 Zona Norte. Durango, Dgo.
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Fortalecimiento de Cuerpos Académicos y Grupos de Investigación CIFCA 2018 Xalapa; Ver.
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Migración y Desarrollo CIMyD 2017 CDMX.
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Fortalecimiento de Cuerpos Académicos y Grupos de Investigación CIFCA 2016 Úrsulo Galván, Ver.
                    </a>
                    <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-asterisk"></i> 
                        Congreso Internacional de Innovación y Tecnología CIT 2015 Xalapa, Ver.
                    </a>
                  </div>
            </div>
        </div>
    </div>
  </div>