<div class="container-fluid">
    <h3 >Nuestras Licenciaturas</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/adminsitracionEmpresas.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h3 class="card-title mx-auto mt-auto">Administración de Empresas</h3> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/derecho.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h4 class="card-title mx-auto mt-auto">Derecho</h4> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/energia.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h5 class="card-title mx-auto mt-auto">Energía</h5> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/ingenieraCivil.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h5 class="card-title mx-auto mt-auto">Ingeniería Civil</h5> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/ingenieraIndustrial.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h5 class="card-title mx-auto mt-auto">Ingeniera Industrial</h5> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/ingenieriaDigital.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h5 class="card-title mx-auto mt-auto">Ingeniería en Tecnología Digital</h5> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/pedagogia.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h5 class="card-title mx-auto mt-auto">Pedagogía</h5> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="container-fluid">
    <h3 class="mt-3">Nuestras Maestrias</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/maestriaDerecho.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h3 class="card-title mx-auto mt-auto">Administración de Empresas</h3> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/mastriaIngAdminsitrativa.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h4 class="card-title mx-auto mt-auto">Derecho</h4> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/MaestriaEducativa.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h5 class="card-title mx-auto mt-auto">Energía</h5> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/maestriaIngFinanciera.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h5 class="card-title mx-auto mt-auto">Ingeniería Civil</h5> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card  text-white h-100">
          <img src="../../assets/img/maestriaLogistica.jpg" class="card-img" alt="..." style="filter: blur(2px); -webkit-filter: blur(1px);">
          <div class="card-img-overlay d-flex flex-column">
            <!-- <h5 class="card-title mx-auto mt-auto">Ingeniera Industrial</h5> -->
            <a href="#" class="btn btn-light ms-auto mb-auto w-auto">Conocer más..</a>        
          </div>
        </div>
      </div>
  
    
    </div>
  </div>