<div class="row">
  <div class="col-12">
    <h1 class="pt-3 text-dark">
      PROGRAMAS COCODI 2023-2026
    </h1>
  </div>
</div>

<div class="bg-image mt-2" 
      style="background-image: url(../../assets/img/FondoHome.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
      ">
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="../../assets/img/FondoHome-transformed.jpeg" class="d-block mx-lg-auto img-fluid" 
      alt="nostros" width="550" height="300" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h3 class="display-5 fw-bold lh-1 mb-3">¿Quienes somos?</h3>
    <p class="lead">
      oficial de estudios otorgado por la Secretaría de Educación Pública, con sus programas inscritos ante 
      la Dirección General de Profesiones SEP/DGP bajo clave 300462; con Registro Nacional de Instituciones 
      y Empresas Científicas y Tecnológicas (RENIECYT) definitiva del CONACyT N° 1700087; 
      que orienta su modelo educativo a la formación de líderes con pasión por la ciencia, 
      la generación de ideas y la búsqueda de retos intelectuales. 
    </p>
  </div>
</div>




<div class="container-fluid">

  <h2 class="mt-3">Oferta educativa</h2>

  <div id="div_licenciaturas" class="row d-flex justify-content-center align-items-center mt-2 ">
    <div id="img_licenciatura" class="col-lg-6 order-lg-2 bg-image "   
    style="background-image: url(../../assets/img/tareas-universidad.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
    "></div>
    <div class="col-lg-6 order-lg-1 my-auto p-5 ">
      <h2 class="text-start">Licenciaturas</h2>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Administración de Empresas</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Derecho</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Energía</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Ingeniería Civil</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Ingeniera Industrial</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Ingeniería en Tecnología Digital</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Pedagogía</a>
      </div>
    </div>
  </div>

  <div id="div_maestrias" class="row d-flex justify-content-center align-items-center">
    <div id="img_maestria" class="col-lg-6 order-lg-1 text-white "
      style="background-image: url(../../assets/img/maestria-master.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
    "
    ></div>
    <div class="col-lg-6 order-lg-2 my-auto p-5 ">
      <h2 class="text-start">Maestrias</h2>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Derecho constitucional y Amparo</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Ingeniería Administrativa</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Ingeniería Educativa</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Ingeniería Financiera</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Ingeniería Logística</a>
      </div>
    </div>
  </div>

  <div id="div_doctorados" class="row d-flex justify-content-center align-items-center mt-2 ">
    <div id="img_doctorado" class="col-lg-6 order-lg-2 bg-image "   
    style="background-image: url(../../assets/img/concepto-educacion.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
    "></div>
    <div class="col-lg-6 order-lg-1 my-auto p-5 ">
      <h2 class="text-start">Doctorados</h2>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Admistración y Desarrollo Empresarial</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="bi bi-award-fill"></i> Educación</a>
      </div>
    </div>
  </div>

</div>

